html,

/**************************************
CLASSES
**************************************/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
    
    cursor: url('../images/cursor1.png'),auto;
    /*cursor: default;*/

}

.triangle {
	position: relative;
	text-align: left;
}
.triangle:before,
.triangle:after {
	content: '';
	position: absolute;
	background-color: inherit;
}
.triangle,
.triangle:before,
.triangle:after {
	width:  5.5em;
	height: 5.5em;
	border-top-right-radius: 30%;
}

.triangle {
	transform: rotate(-30deg) skewX(-30deg) scale(1,.866);
}
.triangle:before {
	transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
}
.triangle:after {
	transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
}

/**************************************
Not Classes
**************************************/

body {
    margin: 0;
    overflow: hidden;
    height: 100%;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
    width: 100%;
    height: 100%;
    background-color: black;
}

#menu {
    margin: auto;
    margin-top: 200px;
    width: 70%;
    padding: 10px;
    border:14px solid #000000;
    border-radius: 15px;
    background: AntiqueWhite;
    max-width: 500px;
}
input {
    font-family: 'Trade Winds', cursive;
    margin: 0 0 10px 0 ;
    width: 60%;
    border:3px solid #2D0088;
    padding: 10px;
    border-radius: 10px;
    list-style: inline-block;
    max-width: 300px;
    outline-color: #2D0088;
    text-align: center;
}
input:hover {
    background-color: AntiqueWhite;
}
select {
    font-family: 'Trade Winds', cursive;
    margin: 0 0 10px 0;
    width: 60%;
    height: 43px;
    border: 3px solid #2D0088;
    /*padding: 10px ;*/
    border-radius: 10px;
    list-style: inline-block;
    max-width: 300px;
    outline-color: #2D0088;
    text-indent: 40%;
}
select:hover {
    background-color: AntiqueWhite;
}

#proceed {
    font-family: 'Trade Winds', cursive;
    font-weight: 900;
    width: 90%;
    padding: 10px;
    border:3px solid #2D0088;
    border-radius: 25px;
    background: white;
    margin: 0;
    display: inline;
    text-align: center;
    max-width: 220px;
    outline-color: #2D0088;
    margin-top: 40px;
}
#proceed:hover {
   background: #FFC20B;
}
#wrapper {
    margin: 0;
    list-style: none;
    display: inline;
    text-align: center;
}

/**************************************
STATBAR ITEMS
**************************************/

#bBar {
    border-radius: 8px;
    font-size: 2.2vw;
    bottom: 0px;
    right: 0px;
    position: fixed;
    width: 0vw;
    margin-right: 20vw;
    background: #FF551C;
    transition: width 1s;
/*    overflow-x: scroll;*/
    height: 25%;
    border-color: black;
}

#statBar {
    min-width: 170px;
    font-family: 'Trade Winds', cursive;
    height: 100%;
    right: 0px;
    top: 0px;
    float: right;
    position: fixed;
    width: 20vw;
    background: antiquewhite;
    text-align: center;
    
}

#statHealthFill {
    min-width: 170px;
    z-index: -1;
    height: 100%;
    right: 0px;
    top: 0%;
    float: right;
    position: fixed;
    width: 20vw;
    background: darkred;
    transition: top 2s;
/*    transition: height 2s;*/

}

#statName {
    font-size: 2.5em;
}

#statCharacter {
    font-size: 1.8em;
    margin-top: -1em;
}

#statHealth {
    margin-bottom: -.2em;
}

#statHealthNumber {
    width: 30%;
    margin-left: 32%;
    font-size: 2.3em;
    border-style: solid;
    border-radius: 100px;
    border-width: 10px;
    border-color: orangered;
    color: orangered;
}

#statActions {
    margin-bottom: -.2em;
}

#statActionNumber {
    width: 30%;
    margin-left: 32%;
    font-size: 2.3em;
    border-style: solid;
    border-radius: 100px;
    border-width: 10px;
    border-color: darkorange;
    color: darkorange;
}

#statActionButton {
    font-size: 1.4em;
    width: 50%;
    margin-left: 13%;
    padding: 10%;
    background: blueviolet;
    border-style: outset;
    border-radius: 10px;
    border-width: 7px;
    border-color: purple;
    margin-top: 5vh;
}

#statActionButton:hover {
    background-color: mediumpurple;
}

#statActionButton:active {
    background-color: blueviolet;
    border-color: mediumpurple;
}

#cardShowButton {
    background: blue;
    margin: 5vw 0vw 9vw 9vw;
    
    z-index: 3;
    position: fixed;
}

#cardShowButtonText {
    
    width: 10%;
    margin: 7.2vw 0vw 20vw 6vw;
    font-size: 1.7em;
    color: orangered;
    z-index: 4;
    position: fixed;
    
}


/**************************************
CARD STYLE
**************************************/

#cards {
    list-style: none;
    display: inline;
    margin: 0 0 4% 0;
    float: center;
    width: 60%;
    
}

#cards li {
    height: 17vw;
    width: 13vw;
    border-style: solid;
    border-width: 1vw;
    border-color: AntiqueWhite;
    text-align: right;
/*    background: pink;*/
    
    
    list-style: none;
    display: inline-block;
    min-height: 50px;
    background-repeat: no-repeat;
    background-size: 34px;
    padding: 1vw 1vw 1vw 0vw;
    margin: 0px 2vw 0px 0px;
/*    background-image: url('../imagesOfPower/samTheSham.jpg');*/
}


/**************************************
ICONS AND IMAGES
**************************************/

.deck {
    min-height: 50px;
    background-repeat: no-repeat;
    background-size: 20vw;
    /*background-image: url('../images/samTheSham.jpg');*/
}


/**************************************
CARDS
**************************************/

.card {
    color: AntiqueWhite;
    background: blue;
    background-image: url('../images/samTheSham.jpg');
}

.card1 {
    color: white;
    background: green;
    background-image: url('../images/samTheSham.jpg');
}

.card2 {
    background: yellow;
    color: red;
    background-image: url('../images/samTheSham.jpg');
}

.card3 {
    background: black;
    color: white;
    background-image: url('../images/samTheSham.jpg');
}

.card4 {
    background: white;
    color: black;
    background-image: url('../images/samTheSham.jpg');
}

.card5 {
    background: orange;
    color: darkgreen;
    background-image: url('../images/samTheSham.jpg');
}

.card6 {
    background: pink;
    color: blue;
    background-image: url('../images/samTheSham.jpg');
}